.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-link:hover {
  color: lightblue;
}

.login-link{
  color:black;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
  .registration-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
  }
  
  .registration-form h2 {
    margin-bottom: 20px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .registration-form button {
    background: #f9a826;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .registration-form button:hover {
    background: #ffc107;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }